<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BurgerOnline</title>
    <meta charset="utf-8"/>
    
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <script type="text/javascript" src="js/menu.js"></script>
    <script type="text/javascript" src="js/js_script.js" defer></script>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script type="text/javascript" src="js/vue_script.js" defer></script>
    
  </head>
  <body>
    <main>
      <div>
        <img id="imgforheader" class=header src="img/burgerbar.jpg" alt="BurgerOnline" title = "BurgerOnline">
      </div>
      <h1 id="htitle" class=header>Välkommen till BurgerOnline</h1>
      
      <section id="burgers">
        
        <div id="burgerMenu"> </div>
      </section>
      
      <section id="contact">        
        <h3 class=contact>Kund Information</h3>
        <p class=contact>Ange din leverans information</p>
        <form class=contact>
          <p>
            <label for="fullname">Full Name</label><br>
            <input class=contactInfo type="text" id="fullname" name="fn" required="required" placeholder="För- och Efternamn">
          </p>
          <p>            
            <label for="mail">Email</label><br>
            <input class=contactInfo type="email" id="email" name="em" required="required" placeholder="E-mail address">
          </p>
          <p>            
            <label for="street">Gatuadress</label><br>
            <input class=contactInfo type="text" id="street" name="sn" required="required" placeholder="Gatunamn">
          </p>
          <p>            
            <label for="housenumber">Hus Nummer</label><br>
            <input class=contactInfo type="text" id="housenumber" name="hn" required="required" placeholder="Hus Nummer"><br>
          </p>
          <p>
            <label for="payment">Betalmedel</label><br>
            <select class=contactInfo id="payment" name="pmnt">
              <option selected="selected">På notan</option>
              <option>Check</option>
              <option>Kreditkort</option>
              <option>Kontant</option>
              <option>Debitkort</option>
            </select>
          </p>
          <p>
            <input id="male" type="radio" name="gender" value="male"> Man<br>
            <input id="female" type="radio" name="gender" value="female"> Kvinna<br>
            <input id="other" type="radio" name="gender" value="other" checked="checked"> Vill ej ange
          </p>
        </form>
      </section>      
      <section id=order>          
        <button id="myButton" v-on:click="markDone()" type="submit"><img src="https://cdn3.iconfinder.com/data/icons/food-and-drink-55/50/burger-13-2-512.png" height=20>Skicka</button>
        <ul>
          <li v-for="value in info"> 
            {{ value }}
          </li>
        </ul>
        </section>
    </main>
    <footer>
      <p>Matglädje AB 2018 :)</p>
    </footer>    
  </body>
</html>
