<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BurgerOnline</title>
    <meta charset="utf-8"/>
      
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <script type="text/javascript" src="js/menu.js"></script>
    <script type="text/javascript" src="js/js_script.js" defer></script>
    <script src="https://vuejs.org/js/vue.js"></script>

    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/deli-very.css">
    <script src="/vue/vue.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/deli-very.js" defer></script>
    
  </head>
  <body>
    <main>
      <div>
        <img id="imgforheader" class=header src="img/burgerbar.jpg" alt="BurgerOnline" title = "BurgerOnline">
      </div>
      <h1 id="htitle" class=header>Välkommen till BurgerOnline</h1>
      
      <section id="burgers">
        
        <div id="burgerMenu"> </div>
      </section>
      
      <section id="contact">        
        <h3 class=contact>Kund Information</h3>
        <p class=contact>Ange din leverans information</p>
        <form class=contact>
          <p>
            <label for="fullname">Full Name</label><br>
            <input class=contactInfo type="text" id="fullname" name="fn" required="required" placeholder="För- och Efternamn">
          </p>
          <p>            
            <label for="mail">Email</label><br>
            <input class=contactInfo type="email" id="email" name="em" required="required" placeholder="E-mail address">
          </p>
          <p>
            <label for="payment">Betalmedel</label><br>
            <select class=contactInfo id="payment" name="pmnt">
              <option selected="selected">På notan</option>
              <option>Check</option>
              <option>Kreditkort</option>
              <option>Kontant</option>
              <option>Debitkort</option>
            </select>
          </p>
          <p>
            <input id="male" type="radio" name="gender" value="male"> Man<br>
            <input id="female" type="radio" name="gender" value="female"> Kvinna<br>
            <input id="other" type="radio" name="gender" value="other" checked="checked"> Vill ej ange
          </p>
        </form>
      </section>
      
      <section id=finalize>        
        <h1> Click in the map! </h1>
        <a href="/dispatcher" target="_blank">Open dispatcher in new window</a>.
        <div class="view-box">
          <div id="dots" v-on:click="displayOrder">
            <div 
              v-bind:style="{ left: target.x + 'px', top: target.y + 'px'}">
              {{key}}
            </div>
          </div>
        </div>
        
        <div id=order>          
          <button id="myButton" v-on:click="addOrder()" type="submit"><img src="https://cdn3.iconfinder.com/data/icons/food-and-drink-55/50/burger-13-2-512.png" height=20>Skicka</button>          
          <div v-if=vCheck>

            <h5>Kontaktinfo</h5>
            <p> Namn: {{ info[0] }}<br />
              Mejl: {{ info[1] }}<br />
            Betalmedel: {{ info[2] }}<br />
            Kön: {{ info[3] }} </p>
            <h5>Order</h5>
          <ul>
            <li v-for="value in myOrder"> 
              {{ value }}
            </li>
          </ul>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <p>Matglädje AB 2018 :)</p>
    </footer>    
  </body>
</html>
